#header {
  padding: 30px 10px 0px 10px;
  margin-bottom: 110px;
  @media (max-width: 425px) {
    margin-bottom: 70px;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .mobile__nav {
      position: fixed;
      top: 94px;
      left: -100%;
      z-index: 100;
      width: 100%;
      height: auto;
      background-color: #fff;
      color: #000;
      font-size: 24px;
      font-weight: 400;
      border: 2px solid #3730a3;
      border-radius: 2px;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-align: center;
      transition: 0.3s;
      &.open {
        left: 0;
      }
      .mobile__nav-menu {
        padding: 36px 0px;
        display: flex;
        flex-direction: column;
        .mobile__nav-menu__item {
          margin-bottom: 58px;
          color: #3730a3;
          font-size: 20px;
          font-weight: 500;
          &:last-child {
            margin: 0;
          }
        }

        .mobile__nav-menu__choose {
          margin: 22px 0px 20px 0px;
          color: #3730a3;
          font-size: 20px;
          font-weight: 500;
        }

        .mobile__nav-menu__theme {
          color: #222;
          font-size: 32px;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }
    }

    .header__logo {
      display: flex;
      align-items: center;
      .header__logo-icon {
        margin-right: 40px;
        cursor: pointer;
      }

      .header__logo-theme {
        display: flex;
        align-items: center;
        @media (max-width: 425px) {
          display: none;
          visibility: hidden;
        }
        .header__logo-theme__text {
          font-weight: 500;
          font-size: 22px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #6b7280;
          cursor: pointer;
          transition: color 0.2s;
          &:hover {
            color: #222222;
          }
          &:not(:last-child) {
            margin-right: 20px;
          }
        }
      }
    }

    .header__menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 425px) {
        display: none;
        visibility: hidden;
      }
      .header__menu-item {
        margin-right: 80px;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #6b7280;
        list-style: none;
        cursor: pointer;
        transition: all 0.2s linear;
        &:last-child {
          margin: 0;
        }
        &:hover {
          color: #3730a3;
        }
      }
    }

    .header__hamb {
      display: none;
      visibility: hidden;
      @media (max-width: 425px) {
        display: block;
        visibility: visible;
        transition: transform 0.2s;

        &.active .header__hamb-field .header__hamb-field__line:nth-child(2) {
          opacity: 0;
        }
        &.active .header__hamb-field .header__hamb-field__line:nth-child(1) {
          position: absolute;
          top: 50%;
          transform: rotate(45deg);
        }
        &.active .header__hamb-field .header__hamb-field__line:nth-child(3) {
          position: absolute;
          top: 50%;
          transform: rotate(-45deg);
        }
      }
      .header__hamb-field {
        display: flex;
        flex-direction: column;
        @media (max-width: 425px) {
          position: relative;
        }
        .header__hamb-field__line {
          display: block;
          width: 46px;
          height: 4px;
          background-color: #3730a3;
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
