#main {
  .about {
    margin-bottom: 196px;
    .about__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
    .about__info {
      .about__info-heading {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 40px;
        .about__info-heading__line {
          min-width: 102px;
          height: 2px;
          background-color: #3730a3;
        }
        .about__info-heading__name {
          margin-left: 10px;
          font-weight: 500;
          font-size: 20px;
          line-height: 28px;
          color: #4338ca;
        }
      }

      .about__info-title {
        max-width: 596px;
        font-weight: 700;
        font-size: 72px;
        line-height: 72px;
        color: #1f2937;
        margin-bottom: 40px;
      }
      .about__info-descr {
        max-width: 553px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #6b7280;
        margin-bottom: 40px;
      }
      .about__info-buttons {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 32px;
        .about__info-button {
          margin-right: 20px;
          padding: 12px 32px;
          background-color: #ffffff;
          font-family: "Inter";
          font-weight: 500;
          font-size: 18px;
          line-height: 28px;
          color: #3730a3;
          border: 2px solid #3730a3;
          border-radius: 6px;
          cursor: pointer;
          transition: all 0.2s linear;
          &:last-child {
            margin: 0;
          }
          &:hover {
            background-color: #3730a3;
            color: #ffffff;
          }
        }
      }

      .about__info-line {
        min-width: 622px;
        height: 2px;
        background-color: #e5e7eb;
        margin-bottom: 20px;
      }
      .about__info-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #6b7280;
      }
    }

    .about__img-box {
      max-width: 478px;
      max-height: 525px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      .about__img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .title {
    max-width: 1039px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    color: #1f2937;
    margin-bottom: 150px;
    text-align: center;
    .text__fiolet {
      color: #3730a3;
    }
  }

  .cards {
    margin-bottom: 150px;
    .cards__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .cards__img-box {
        margin-right: 50px;
        .cards__img {
        }
      }

      .cards__box {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        .cards__box-row__top,
        .cards__box-row__center,
        .cards__box-row__bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 34px 0px;
          .cards__box-item {
            max-width: 311px;
            margin-right: 68px;
            &:last-child {
              margin: 0;
            }
            .cards__box-item__heading {
              font-weight: 600;
              font-size: 18px;
              line-height: 28px;
              color: #1f2937;
              margin-bottom: 20px;
            }
            .cards__box-item__descr {
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
              color: #6b7280;
              margin-bottom: 20px;
            }
            .cards__box-item__click {
              display: flex;
              justify-content: start;
              cursor: pointer;
              .cards__item-click__text {
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                color: #3730a3;
              }
              .cards__click-img__box {
                margin-left: 5px;
                .cards__click-img {
                }
              }
            }
          }
        }
      }
    }
  }

  .sponsors {
    background-color: #fef2f2;
    margin-bottom: 150px;

    .sponsors__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      min-height: 299px;
    }
    .sponsors__img-box {
      margin-right: 94px;
      &:first-child {
        padding-left: 8px;
      }
      &:last-child {
        padding-right: 8px;
        margin: 0;
      }
    }
  }

  .images {
    margin-bottom: 150px;
    .images__body {
      display: flex;
      justify-content: start;
      align-items: center;
      .images__body-left {
        margin: 0px 30px 30px 0px;
        .images__body-left__img {
          margin-bottom: 30px;
          &:last-child {
            margin: 0;
          }
        }
      }
      .images__body-right {
        position: relative;
        .images__body-right__img {
          margin-bottom: 30px;
        }
        .images__body-right__rectangle {
          padding: 23px 27px;
          margin: 0 auto;
          width: 495px;
          background-color: #ffffff;
          position: absolute;
          z-index: 1;
          left: 20px;
          bottom: 51px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .images__right-rectangle__content {
            .images__rectangle-content__heading {
              font-weight: 500;
              font-size: 18px;
              line-height: 28px;
              color: #1f2937;
            }
            .images__rectangle-content__text {
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: #9ca3af;
            }
          }

          .images__right-rectangle__img {
            cursor: pointer;
          }
        }
      }
    }

    .images_footer-img {
    }
  }

  .advantage {
    margin-bottom: 150px;
    .advantage__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .advantage__item {
        max-width: 325px;
        .advantage__item-img__box {
          max-width: 140px;
          min-height: 140px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          background-color: #eef2ff;
          border: none;
          border-radius: 6px;
          margin-bottom: 40px;
          .advantage__item-img {
          }
        }

        .advantage__item-heading {
          margin-bottom: 20px;
          font-weight: 600;
          font-size: 30px;
          line-height: 36px;
          text-align: center;
          color: #374151;
        }
        .advantage__item-descr {
          max-width: 325px;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          text-align: center;
          color: #9ca3af;
        }
      }
    }
  }
}
