* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 87px 0px 110px 0px;
  font-family: 'Inter';

  @import 'header.scss';
  @import 'main.scss';
  @import 'footer.scss';
}
